USE [Household]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 3/20/2025 3:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[addressId] [int] IDENTITY(1,1) NOT NULL,
	[street] [nvarchar](255) NULL,
	[ward] [nvarchar](100) NULL,
	[district] [nvarchar](100) NULL,
	[city] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[addressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseholdMembers]    Script Date: 3/20/2025 3:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseholdMembers](
	[memberId] [int] IDENTITY(1,1) NOT NULL,
	[householdId] [int] NULL,
	[cccd] [varchar](12) NULL,
	[relationship] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Households]    Script Date: 3/20/2025 3:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Households](
	[householdId] [int] IDENTITY(1,1) NOT NULL,
	[headOfHouseholdCccd] [varchar](12) NULL,
	[addressId] [int] NOT NULL,
	[createdDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[householdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 3/20/2025 3:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[logId] [int] IDENTITY(1,1) NOT NULL,
	[cccd] [varchar](12) NULL,
	[action] [nvarchar](100) NOT NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[logId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 3/20/2025 3:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notificationID] [int] IDENTITY(1,1) NOT NULL,
	[cccd] [varchar](12) NOT NULL,
	[message] [nvarchar](200) NOT NULL,
	[sentDate] [datetime] NULL,
	[isRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[notificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PendingHousehold]    Script Date: 3/20/2025 3:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PendingHousehold](
	[pendingId] [int] IDENTITY(1,1) NOT NULL,
	[registrationId] [int] NOT NULL,
	[headOfHouseholdCccd] [nvarchar](12) NOT NULL,
	[addressId] [int] NOT NULL,
	[relationship] [nvarchar](50) NOT NULL,
	[cccd] [nvarchar](12) NOT NULL,
	[createDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[pendingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 3/20/2025 3:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[registrationId] [int] IDENTITY(1,1) NOT NULL,
	[cccd] [varchar](12) NOT NULL,
	[registrationType] [nvarchar](50) NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NULL,
	[status] [nvarchar](20) NULL,
	[approvedBy] [varchar](12) NULL,
	[comments] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[registrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/20/2025 3:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/20/2025 3:55:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[cccd] [varchar](12) NOT NULL,
	[fullName] [nvarchar](100) NOT NULL,
	[birthday] [date] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phoneNumber] [varchar](10) NOT NULL,
	[gender] [char](1) NULL,
	[password] [varchar](255) NOT NULL,
	[roleID] [int] NOT NULL,
	[addressID] [int] NOT NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[cccd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([addressId], [street], [ward], [district], [city]) VALUES (1, N'Đông Cựu', N'Đông Sơn', N'Chương Mỹ', N'Hà Nội')
INSERT [dbo].[Address] ([addressId], [street], [ward], [district], [city]) VALUES (2, N'Yên Kiện', N'Đông Sơn', N'Chương Mỹ', N'Hà Nội')
INSERT [dbo].[Address] ([addressId], [street], [ward], [district], [city]) VALUES (3, N'Phố Tràng Tiền', N'Phường Tràng Tiền', N'Quận Hoàn Kiếm', N'Hà Nội')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[HouseholdMembers] ON 

INSERT [dbo].[HouseholdMembers] ([memberId], [householdId], [cccd], [relationship]) VALUES (99, 2, N'001200000001', N'Chủ hộ')
INSERT [dbo].[HouseholdMembers] ([memberId], [householdId], [cccd], [relationship]) VALUES (100, 2, N'001200000004', N'Anh/Chị/Em')
INSERT [dbo].[HouseholdMembers] ([memberId], [householdId], [cccd], [relationship]) VALUES (101, 2, N'001202000006', N'Cha/Mẹ')
SET IDENTITY_INSERT [dbo].[HouseholdMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[Households] ON 

INSERT [dbo].[Households] ([householdId], [headOfHouseholdCccd], [addressId], [createdDate]) VALUES (2, N'001200000001', 1, CAST(N'2025-03-09' AS Date))
INSERT [dbo].[Households] ([householdId], [headOfHouseholdCccd], [addressId], [createdDate]) VALUES (3, N'001200000006', 14, CAST(N'2025-03-10' AS Date))
INSERT [dbo].[Households] ([householdId], [headOfHouseholdCccd], [addressId], [createdDate]) VALUES (7, N'002200000019', 4, CAST(N'2025-03-12' AS Date))
SET IDENTITY_INSERT [dbo].[Households] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([notificationID], [cccd], [message], [sentDate], [isRead]) VALUES (1, N'005500000050', N'Đơn của bạn đã được gửi đi và sẽ được duyệt trong 24h tới.', CAST(N'2025-03-11T23:02:24.207' AS DateTime), 0)
INSERT [dbo].[Notifications] ([notificationID], [cccd], [message], [sentDate], [isRead]) VALUES (2, N'001200000004', N'Đơn của bạn bị từ chối vì: ', CAST(N'2025-03-11T23:32:43.880' AS DateTime), 0)
INSERT [dbo].[Notifications] ([notificationID], [cccd], [message], [sentDate], [isRead]) VALUES (3, N'002200000016', N'Đơn của bạn đã được gửi đi và sẽ được duyệt trong 24h tới.', CAST(N'2025-03-12T12:02:25.773' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[PendingHousehold] ON 

INSERT [dbo].[PendingHousehold] ([pendingId], [registrationId], [headOfHouseholdCccd], [addressId], [relationship], [cccd], [createDate]) VALUES (1, 1, N'001200000001', 0, N'Vợ/Chồng', N'001200000004', CAST(N'2025-03-11T00:00:00.000' AS DateTime))
INSERT [dbo].[PendingHousehold] ([pendingId], [registrationId], [headOfHouseholdCccd], [addressId], [relationship], [cccd], [createDate]) VALUES (2, 2, N'001200000001', 0, N'Anh/Chị/Em', N'001200000004', CAST(N'2025-03-11T00:00:00.000' AS DateTime))
INSERT [dbo].[PendingHousehold] ([pendingId], [registrationId], [headOfHouseholdCccd], [addressId], [relationship], [cccd], [createDate]) VALUES (3, 3, N'001200000001', 0, N'Con', N'001200000004', CAST(N'2025-03-11T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PendingHousehold] OFF
GO
SET IDENTITY_INSERT [dbo].[Registrations] ON 

INSERT [dbo].[Registrations] ([registrationId], [cccd], [registrationType], [startDate], [endDate], [status], [approvedBy], [comments]) VALUES (1, N'001200000004', N'Dài hạn', CAST(N'2025-03-11' AS Date), NULL, N'Đã được chấp thuận', N'001204050461', NULL)
INSERT [dbo].[Registrations] ([registrationId], [cccd], [registrationType], [startDate], [endDate], [status], [approvedBy], [comments]) VALUES (2, N'001200000004', N'Tạm thời', CAST(N'2025-03-11' AS Date), NULL, N'Đã được chấp thuận', N'001204050461', NULL)
INSERT [dbo].[Registrations] ([registrationId], [cccd], [registrationType], [startDate], [endDate], [status], [approvedBy], [comments]) VALUES (3, N'001200000004', N'Tạm thời', CAST(N'2025-03-11' AS Date), NULL, N'Bị từ chối', NULL, N'B?n d? ? trong h? kh?u r')
SET IDENTITY_INSERT [dbo].[Registrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([roleId], [roleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([roleId], [roleName]) VALUES (3, N'Cảnh sát')
INSERT [dbo].[Roles] ([roleId], [roleName]) VALUES (2, N'Công dân')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Users] ([cccd], [fullName], [birthday], [email], [phoneNumber], [gender], [password], [roleID], [addressID], [isActive]) VALUES (N'001200000001', N'Nguyễn Văn Chỉnh', CAST(N'1990-05-15' AS Date), N'nam.nguyen90@gmail.com', N'0912000111', N'M', N'1', 2, 11, 1)
INSERT [dbo].[Users] ([cccd], [fullName], [birthday], [email], [phoneNumber], [gender], [password], [roleID], [addressID], [isActive]) VALUES (N'001200000004', N'Lê Thị Hạnh', CAST(N'1995-03-25' AS Date), N'hanh.le250395@gmail.com', N'0912000004', N'F', N'123', 2, 1, 0)
INSERT [dbo].[Users] ([cccd], [fullName], [birthday], [email], [phoneNumber], [gender], [password], [roleID], [addressID], [isActive]) VALUES (N'001200000006', N'Hoàng Thị Mai', CAST(N'1988-06-05' AS Date), N'mai.hoang88@gmail.com', N'0912000006', N'F', N'1', 2, 14, 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__B194786164550FB6]    Script Date: 3/20/2025 3:55:42 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[roleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__4849DA0193FC4917]    Script Date: 3/20/2025 3:55:42 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[phoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E616410487F1F]    Script Date: 3/20/2025 3:55:42 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Households] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [sentDate]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [isRead]
GO
ALTER TABLE [dbo].[PendingHousehold] ADD  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[Registrations] ADD  DEFAULT (N'Đang chờ xử lý') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [isActive]
GO
ALTER TABLE [dbo].[HouseholdMembers]  WITH CHECK ADD FOREIGN KEY([householdId])
REFERENCES [dbo].[Households] ([householdId])
GO
ALTER TABLE [dbo].[HouseholdMembers]  WITH CHECK ADD FOREIGN KEY([cccd])
REFERENCES [dbo].[Users] ([cccd])
GO
ALTER TABLE [dbo].[Households]  WITH CHECK ADD FOREIGN KEY([addressId])
REFERENCES [dbo].[Address] ([addressId])
GO
ALTER TABLE [dbo].[Households]  WITH CHECK ADD FOREIGN KEY([headOfHouseholdCccd])
REFERENCES [dbo].[Users] ([cccd])
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD FOREIGN KEY([cccd])
REFERENCES [dbo].[Users] ([cccd])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK__Notificati__cccd__693CA210] FOREIGN KEY([cccd])
REFERENCES [dbo].[Users] ([cccd])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK__Notificati__cccd__693CA210]
GO
ALTER TABLE [dbo].[PendingHousehold]  WITH CHECK ADD FOREIGN KEY([registrationId])
REFERENCES [dbo].[Registrations] ([registrationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD FOREIGN KEY([approvedBy])
REFERENCES [dbo].[Users] ([cccd])
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD FOREIGN KEY([cccd])
REFERENCES [dbo].[Users] ([cccd])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([addressID])
REFERENCES [dbo].[Address] ([addressId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([roleID])
REFERENCES [dbo].[Roles] ([roleId])
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD CHECK  (([registrationType]=N'Tạo hộ khẩu' OR [registrationType]=N'Chuyển hộ khẩu' OR [registrationType]=N'Tách hộ khẩu' OR [registrationType]=N'Lưu trú tạm thời' OR [registrationType]=N'Tạm thời' OR [registrationType]=N'Dài hạn'))
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD CHECK  (([status]=N'Bị từ chối' OR [status]=N'Đã được chấp thuận' OR [status]=N'Đang chờ xử lý'))
GO
